<!DOCTYPE html>
<html lang="en">

<!-- Partials -->
<%- include('./Partials/head.ejs') %>

    <body>
        <!-- Partials -->
        <%- include('./Partials/nav.ejs') %>

            <div class="not-found content">
                oops, page not found :)
            </div>
            <%- include('./Partials/footer.ejs') %>
    </body>

</html>