<!DOCTYPE html>
<html lang="en">
<!-- Partials -->
<%- include('./Partials/head.ejs') %>

    <body>
        <!-- Partials -->
        <%- include('./Partials/nav.ejs') %>

            <div class="about-content">
                <h2>About us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus rerum iure sapiente veritatis,
                    recusandae
                    nostrum libero hic aliquam nesciunt doloribus, esse ipsa voluptatibus! Explicabo nesciunt eligendi
                    odit
                    recusandae. Maiores, animi.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus rerum iure sapiente veritatis,
                    recusandae
                    nostrum libero hic aliquam nesciunt doloribus, esse ipsa voluptatibus! Explicabo nesciunt eligendi
                    odit
                    recusandae. Maiores, animi.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus rerum iure sapiente veritatis,
                    recusandae
                    nostrum libero hic aliquam nesciunt doloribus, esse ipsa voluptatibus! Explicabo nesciunt eligendi
                    odit
                    recusandae. Maiores, animi.</p>
            </div>
            <%- include('./Partials/footer.ejs') %>
    </body>

</html>